hr.style5 {
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}
.control-label {
	font-size: 15px;
}
.with-errors {
	font-size: 15px;
}
.alert-container {
	position: fixed;
	max-width: 55em;
	width: 90%;
	margin: 5% auto;
	top: 50px;
	left: 0;
	right: 0;
}
/*
|----------------------------------------------------
| navbar style
|----------------------------------------------------
|
| tweaked some navbar styling
|
*/
.dropdown-menu li a {
	font-size: 20px;
}

.navbar {
  background-color: #FFFEFE;
  height: 80px;
	box-shadow: 0 1px 5px #dcdcdc;
}
#kusanavbar {
  background-color: white;
}
.navbar-brand img {
  width: 180px;
  height: 50px;
  margin-left: 50px;
}
.nav.navbar-nav {
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  margin: 15px;
  margin-left: 30px;
}
.nav.navbar-nav.navbar-right {
  font-size: 15px;
}

.active a {
  background-color: #FFFEFE !important;
  color: #A3CFEA !important;
}

.navbar-toggle {
  margin-top: 25px;
}

img.default-profile {
	width: 100px;
	height: 100px;
}

/*
|----------------------------------------------------
| background color collections
|----------------------------------------------------
|
| various background color collections
|
*/
.background-A3CFEA {
	position: relative;
  margin-top: -20px;
  /*background-color: #A3CFEA;*/
	background-color: #f79591;
}

.background-footer {

	background-color: #525252;
	height: 500px;
}

/*
|----------------------------------------------------
| main elements
|----------------------------------------------------
|
| elements used in main section in index file
|
*/

.main-title {
  margin-top: 85px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	color: white;
}

.sub-video {
  text-align: center;
}

div.outer {
  margin-top: -45px;
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
}

div video {
  box-sizing: border-box;
  background: url(/images/macbook-pro.png) center center no-repeat;
  background-size: contain;
  padding: 8.9% 15.5% 14.8%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.panel-body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

.thumbnail {
  box-shadow: 0 1px 5px #dcdcdc;
}

.thumbnail img {
	max-width: 100%;
	height: 250px;
}

/*
|----------------------------------------------------
| hr style
|----------------------------------------------------
|
|
|
*/

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
		font-family: 'Ubuntu', sans-serif;
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #8c8b8b;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}

/*
|----------------------------------------------------
| Footer
|----------------------------------------------------
|
|
|
*/
.social a i {
	margin-top: 25px;
	font-size: 30px;
}
.footer-content {
	font-family: 'Open Sans', sans-serif;
	color: white;
}

.footer-content a {
	color: white;
	font-size: 20px;
	text-decoration: none;
}

.footer-nav {
	margin-top: 25px;
}

.footer-nav > a {

}

.sponsor img{
	width: 650px;
}

.copyright {
	margin-top: 100px;
}
